FabLabManager/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FabLabManager/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.suo
FabLabManager/obj/Debug/FabLabManager.exe
.vs/FabLabManager/v14/.suo
*.cache
*.cache